<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <a href="/board/insert">새글쓰기</a>
    <table>
        <tr>
            <th width="50">글번호</th>
            <th width="300">글제목</th>
            <th width="200">작성자</th>
            <th width="200">등록일자</th>
            <th width="200">수정일자</th>
            <th width="100">조회수</th>
        </tr>
        <th:block th:each="board : ${boardList}">
            <tr>
                <td align="center" th:text="${board.no}"></td>
                <td align="center">
                    <a th:href="|/board/read?no=${board.no}|" th:text="${board.title}"></a>
                </td>
                <td align="center" th:text="${board.writer}"></td>
                <td align="center">
                    <!-- <span th:text="( #dates.format(${board.regDate} , 'yyyy-MM-dd HH:mm:ss') )"></span> -->
                    <span th:text="${board.regDate}"></span>
                </td>
                <td align="center">
                    <!-- <span th:text="( #dates.format(${board.regDate} , 'yyyy-MM-dd HH:mm:ss') )"></span> -->
                    <span th:text="${board.updDate}"></span>
                </td>
                <td align="center" th:text="${board.views}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>