<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>
        <table>
            <tr>
                <td>글제목</td>
                <td>
                    <input type="text" name="title" id="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" name="writer" id="writer" th:value="${board.writer}">
                </td>
            </tr>
            <tr>
                <td>내용</td>
                <td>
                    <input type="text" name="content" id="content" th:value="${board.content}">
                </td>
            </tr>
        </table>
        <div>
            <form action="/board/update" method="get">
                <input type="hidden" name="no" id="no" th:value="${board.no}">
                <button type="submit">수정</button>
            </form>
            <button type="button" onclick="moveList()">목록</button>
        </div>

        <script>

            // 목록 이동
            function moveList() {
                location.href = '/board/list'
            }

        </script>
</body>
</html>